@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --header-height: 3rem;
  /*  Current Color */
  --hue-color: 250;
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --input-color: hsl(var(--hue-color), 8%, 65%);
  --input-color-light: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  /* Typography */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* Margins */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 0 var(--header-height) 0;
  font-family: "Poppins", sans-serif !important;
  font-size: var(--body-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
}
/* Variables for dark theme */
body.dark-theme {
  --first-color-second: hsl(250, 30%, 8%);
  --title-color: hsl(250, 8%, 95%);
  --text-color: hsl(250, 8%, 75%);
  --input-color: hsl(250, 29%, 16%);
  --body-color: hsl(250, 28%, 12%);
  --container-color: hsl(250, 29%, 16%);
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: #474bff;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Reusable CSS Classes */
.section {
  padding: 2rem 0 4rem;
}
.section__title {
  font-size: var(--h1-font-size);
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle {
  text-align: center;
}
/* LAYOUT */
.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
/* Header Styles */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav__toggle:hover {
  color: var(--first-color);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.3s;
  }
}
.nav__list {
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__icon {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
.nav__close {
  position: absolute;
  top: 0.5rem;
  right: 1.3rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav__close:hover {
  color: var(--first-color-alt);
}
.showNavMenu {
  top: 0;
}
/* Homepage Styles */
.gradientText {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home__container {
  gap: 1rem;
}
.home__content {
  grid-template-columns: 1fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home__description {
  margin: var(--mb-2) 0;
  line-height: 2;
  color: rgb(151, 160, 181);
}
.home__title {
  font-size: var(--big-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}
.home__scroll {
  /* display: none; */
}
.home__scroll__button {
  color: var(--first-color);
  transition: 0.3s;
}
.home__scroll__button:hover {
  transform: translateY(0.25rem);
}
.home__scroll__mouse {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}
.home__scroll__name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}
.home__scroll__arrow {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
/* Buttons */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.button__flex {
  display: inline-flex;
  align-items: center;
}
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transform: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup__icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}
/* Theme Buttons */
.nav__buttons {
  display: flex;
  align-items: center;
}
.change-theme {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* For Small Devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .home__content {
    grid-template-rows: 1fr 1fr;
  }
}
/*  For Medium Devices*/
@media screen and (max-width: 568px) {
  .home__content {
    grid-template-rows: max-content 1fr;
  }
  .home__data {
    grid-column: initial;
  }
}
/*  For Large Devices*/
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/* For Larger Devices */
@media screen and (min-width: 1024px) {
  .header,
  main {
    padding: 0;
  }
  section,
  .nav {
    max-width: 1024px;
    margin: 0 auto;
  }
}
